// Primary variants
@primary-color-700: #090d60;
@primary-color-500: #0c1387;
@primary-color-400: #3d429f;
@primary-color-350: #5153e6;
@primary-color-300: #5c61af;
@primary-color-200: #8f92c8;
@primary-color-150: #9dbbf1;
@primary-color-100: #b4b6da;
@primary-color-50: #e7e7f3;
@primary-color-30: #f3f3fc;
@primary-color-10: #ededfd;

// Secondary variants
@secondary-color-700: #3e0588;
@secondary-color-500: #4906a0;
@secondary-color-450: #5412a1;
@secondary-color-400: #6a33b1;
@secondary-color-300: #8c62c3;
@secondary-color-250: #9e7bc9;
@secondary-color-200: #b194d6;
@secondary-color-100: #d3c3e8;
@secondary-color-50: #ede6f6;

// Neutral variants
@neutral-color-700: #00000026;
@neutral-color-600: #c2c2c266;
@neutral-color-500: #333333;
@neutral-color-400: #5c5c5c;
@neutral-color-300: #767676;
@neutral-color-200: #a1a1a1;
@neutral-color-100: #c0c0c0;
@neutral-color-50: #ebebeb;
@neutral-color-25: #d9d9d9;
@neutral-color-10: #fafafa;
@neutral-color-5: #f0f0f0;

// Danger variants
@danger-color-900: #ff0101;
@danger-color-800: #6b0808;
@danger-color-700: #8a0b0b;
@danger-color-500: #c20f0f;
@danger-color-400: #ce3f3f;
@danger-color-300: #d65e5e;
@danger-color-200: #e39191;
@danger-color-100: #ecb5b5;
@danger-color-50: #f9e7e7;
@danger-color-20: #feeded;

// Success variants
@success-color-800: #044a18;
@success-color-700: #065f1f;
@success-color-500: #08862b;
@success-color-450: #50ac53;
@success-color-400: #399e55;
@success-color-350: #57b7a8;
@success-color-300: #5aae71;
@success-color-200: #8dc79d;
@success-color-100: #b2d9bd;
@success-color-50: #e6f3ea;
@success-color-20: #effff0;

// Warning variants
@warning-color-900: #6b5a00;
@warning-color-700: #b59900;
@warning-color-600: #ebaf2c;
@warning-color-500: #f4ad26;
@warning-color-400: #ffdf33;
@warning-color-300: #ffe454;
@warning-color-200: #ffed8a;
@warning-color-175: #ffc399;
@warning-color-150: #fad99b;
@warning-color-100: #fff3b0;
@warning-color-75: #fff1e7;
@warning-color-50: #fffbe6;
@warning-color-20: #fff5de;

@extend-color-200: #fff0e5;
@extend-color-100: #ffefe3;
@extend-color-50: #fef7e9;
@extend-color-yellow-100: #FCE6BC;

// font-size
@font-h1: 34px;
@font-h2: 28px;
@font-h3: 24px;
@font-h4: 20px;
@font-h5: 18px;
@font-body-xl: 18px;
@font-body-xmd: 16px;
@font-body-md: 14px;
@font-body-sm: 13px;
@font-body-xs: 12px;
@font-body-xss: 11px;
@font-body-xxs: 10px;
@font-body-printer: 8px;

// font-weight
@font-thin: 100;
@font-extralight: 200;
@font-light: 300;
@font-normal: 400;
@font-medium: 500;
@font-semibold: 600;
@font-bold: 700;
@font-extrabold: 800;