@import "@/styles/variables.less";

.main-layout {
    min-height: 100vh;
    .ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline,
    .ant-menu-dark,
    .ant-layout-sider-trigger,
    .ant-layout-header,
    .ant-layout-sider {
        background: @neutral-color-500;
    }
    &-content {
        background-color: @neutral-color-500;
        padding: 16px;
    }
}